/* MAIN */

body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

#main-content{
    margin-top:60px;
}

/* MENU */

#navbar{
    position:fixed;
    width:100%;
    top:0px;
    left:0px;
    /* syntaxhighlighter 10 z-index */
    z-index: 11;
}

#search{
    width:100%;
}

/* HTTP EXCEPTIONS */

span.httpException{
    font-size:80px;
}
h1.httpException{
    margin: 50px;
}
